<div class="branding-container" id="about-branding">
  <h1 class="main-heading" id="about-branding-heading">Simply Suds & More</h1>
  <h3 class="sub-heading" id="about-branding-sub-heading">Because your BODY matters</h3>
</div>
<section ="page-section about-page" id="founding-section">
  <div class="img-container">
    <img src="" alt="image of our founder" class="section-img" id="founder-img" />
  </div>
  <article class="article-container" id="founding-container">
    <div class="heading-container" id="founding-heading">
      <h2>Our Founding</h2>
    </div>
    <div class="text-container" id="founding-text-container">
      <p class="base-text" id="founding-text">
	<span class="text-emphasis">Founded in 2023</span> by US Navy veteran and mother
	of two April Champagne, our journey began with a heartfelt mission to provide
	relief for eczema within our own family. Driven by the desire to help others
	experiencing similar challanges, we decided to share our solution with the world.
      </p>
    </div>
  </article>
</section>
<section class="page-section about-page" id="philosophy-section">
  <article class="article-container" id="philosophy-container">
    <div class="heading-container" id="philosophy-heading-container">
      <h2 class="article-heading" id="philosophy-heading">Our Philosophy</h2>
    </div>
    <div class="article-text-container" id="philosophy-text-container">
      <p class="base-text" id="philosophy-text">
	We Understand the impact that skin conditions can have on daily life
	when traditionial products fall short. With our handcrafted products you can trust that
	each and every product is carefully formulated using only the finest natural ingredients
	allowing you to experience skin care that nourishes and protects your skin.
      </p>
    </div>
  </article>
  <div class="img-container" id="event-img-contianer">
    <img src="" alt="filler img" class="embedded-img" id="event-embedded-img" />
  </div>
</section>
