<div>
  <h1>Simply Suds & More</h1>
  <h3>Because your BODY matters</h3>
</div>
<section>
  <div>
    <img src="" alt="image of our founder" class="section-img" id="founder-img" />
  </div>
  <article>
    <div>
      <h2>Our Founding</h2>
    </div>
    <div>
      <p>
	<span>Founded in 2023</span> by US Navy veteran and mother of two April Champagne,
	our journey began with a heartfelt mission to provide relief for eczema within our
	own family. Driven by the desire to help others experiencing similar challanges,
	we decided to share our solution with the world.
      </p>
    </div>
  </article>
</section>
<section>
  <article>
    <div>
      <h2>Our Philosophy</h2>
    </div>
    <div>
      <p>
	We Understand the impact that skin conditions can have on daily life
	when traditionial products fall short. With our handcrafted products you can trust that
	each and every product is carefully formulated using only the finest natural ingredients
	allowing you to experience skin care that nourishes and protects your skin.
      </p>
    </div>
  </article>
</section>
