<section class="page-section home-page" id="landing-section">
    <div>
      <img src="" alt="simply suds and more logo" id="home-page-logo" />
    </div>
    <article class="text-container" id="landing-text">
      <div class="branding-container" id="landing-branding">
	<h1 class="main-heading" id="branding-main-heading">Simply Suds & More</h1>
	<h3 class="susb-heading" id="branding-sub-heading">Because your BODY matters</h3>
      </div>
      <div>
	<p class="base-text">
	  With our handcrafted artisan soaps, bath bombs, body butters, and more,
	  we aim to provide relief and comfort while indulging in self-care.
	  Each product is carefully formulated to harness the healing properties of nature,
	  so you can enjoy a bathing experience that nourishes and protects your skin.
	<p>
      </div>
    </article>
</section>
<section class="page-section home-page" id="promise-section">
  <div>
    <h2 class="article-heading" id="promise-heading">Our promise to you</h2>
  </div>
  <div class="text-container" id="promise-text">
    <p class="base-text">
      Our products only use the finest natural ingredients to ensure that they
      are not only safe and gentle but also free from harsh synthetics that can
      exacerbate skin irritations.
    </p>
  </div>
  <div class="article-heading" id="invite-heading">
    <h2 class=>Join Us</h2>
  </div>
  <div class="text-container" id="invite-text">
    <p class="base-text">
      We invite you to join us on this journey towards healthier skin
      and a happier lifestyle. Experience the transformative power of
      all-natural ingredients and discover the difference they can make
      in your life. Welcome to Simply Suds & More.
    </p>
  </div>
</section>
