<section class="home-page" id="landing-section">
    <div>
      <img src="" height="300" width="300" />
    </div>
    <article>
      <div>
	<h1>Simply Suds & More</h1>
	<h3>Because your BODY matters</h3>
      </div>
      <p>
	With our handcrafted artisan soaps, bath bombs, body butters, and more,
	we aim to provide relief and comfort while indulging in self-care.
	Each product is carefully formulated to harness the healing properties of nature,
	so you can enjoy a bathing experience that nourishes and protects your skin.
      <p>
    </article>
</section>
<section class="home-page" id="promise-section">
  <div>
    <h2>Our promise to you</h2>
  </div>
  <div>
    <p>
      Our products only use the finest natural ingredients to ensure that they
      are not only safe and gentle but also free from harsh synthetics that can
      exacerbate skin irritations.
    </p>
  </div>
  <div>
    <p>
      We invite you to join us on this journey towards healthier skin
      and a happier lifestyle. Experience the transformative power of
      all-natural ingredients and discover the difference they can make
      in your life. Welcome to Simply Suds & More.
    </p>
  </div>
</section>
