<div id="<%= dom_id product_catagory %>">
  <p>
    <strong>Product:</strong>
    <%= product_catagory.product_id %>
  </p>

  <p>
    <strong>Catagory:</strong>
    <%= product_catagory.catagory_id %>
  </p>

</div>
