<h1>Editing product catagory</h1>

<%= render "form", product_catagory: @product_catagory %>

<br>

<div>
  <%= link_to "Show this product catagory", @product_catagory %> |
  <%= link_to "Back to product catagories", product_catagories_path %>
</div>
