<p style="color: green"><%= notice %></p>

<h1>Product catagories</h1>

<div id="product_catagories">
  <% @product_catagories.each do |product_catagory| %>
    <%= render product_catagory %>
    <p>
      <%= link_to "Show this product catagory", product_catagory %>
    </p>
  <% end %>
</div>

<%= link_to "New product catagory", new_product_catagory_path %>
