<div id="<%= dom_id order %>">

  <p>
    <strong>Purchased:</strong>
    <%= order.purchased %>
  </p>

  <p>
    <strong>Shipped:</strong>
    <%= order.shipped %>
  </p>

  <p>
    <strong>Date shipped:</strong>
    <%= order.date_shipped %>
  </p>

</div>
