<%= javascript_pack_tag "checkout" %>

<% @order.line_items.each do |line_item| %>
<%= render "orders/line_item", line_item: line_item %>
<% end %>
<form id="payment_form">
  <div id="payment_element">
    <!--Stripe.js injects the Payment Element-->
  </div>
  <button id="submit">
    <div class="spinner hidden" id="spinner"></div>
    <span id="button-text">Pay now</span>
  </button>
  <div id="payment-message" class="hidden"></div>
</form>

