<% javascript_pack_tag "checkout" %>
<% @order.line_items.each do |line_item| %>
<%= render "orders/line_item", line_item: line_item %>
<% end %>

<%= link_to "Checkout", edit_order_path %>
<form id="payment-form">
  <div id="payment-element">
    <!--Stripe.js injects the Payment Element-->
  </div>
  <button id="submit">
    <div class="spinner hidden" id="spinner"></div>
    <span id="button-text">Pay now</span>
  </button>
  <div id="payment-message" class="hidden"></div>
</form>
