<p style="color: green"><%= notice %></p>

<h1>Products</h1>
<%= link_to "New product", new_product_path %>
<table id="products">
  <thead>
    <tr>
      <th scope="col">
	Name
      </th>
      <th scope="col">
	SKU
      </th>
      <th scope="col">
	price
      </th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <%= render product %>
    <% end %>
  </tbody>
</table>

